@import "grid";
@import "colors";
@import "typography";
@import "buttons";
@import "forms";

//@import "../../node_modules/angular-material/modules/scss/angular-material.layout-attributes";
//@import "../../node_modules/angular-material/modules/scss/angular-material.layouts";
//@import "../../node_modules/angular-material/modules/scss/angular-material";


@mixin hint-danger() {
  display: flex;
  color: $white;
  background-color: $red;
  border: none;
  border-radius: .25rem;
  padding: .5rem .85rem;
  font-size: 1rem;
}

.form-authorization {
  max-width: 500px;
  margin: 3rem auto 1rem;
  &__element {
    margin-bottom: 1rem;
    &--hint {
      @include hint-danger();
    }
  }
  &__label {
    display: inline-block;
    margin-bottom: .5rem;
  }
  &__input {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    margin-bottom: .25rem;
    color: $gray;
    font-size: 1rem;
    line-height: 1.25;
    background-color: $white;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s;
  }
  &__btn-sign-in {
    @include btn-outline-primary();
  }
  &__btn-reset {
    @include btn-outline-secondary();
  }
}

.orders-details-header {
  padding-bottom: 1.25rem;
  margin-bottom: 1rem;
  border-bottom: .05rem solid $gray-lighter;
  &__title-block {

  }
  &__btn-block {

    display: flex;
  }
  &__btn {
    @include btn-outline-secondary();
    align-items: flex-end;
    margin: auto 0 0.2rem auto;
    text-decoration: none;
  }
}

.row {
  @include make-row();
}